In [2]:
import pandas as pd
import numpy as np

## Xử lí Abalone Data set vô báo cáo

In [36]:
abalone = pd.read_csv('abalone.data')
#Data này không có sẵn header nên các header thêm vào thủ công
abalone.columns = ['Sex','Length','Diameter','Height','Whole','Shucked','Viscera','Shell','Rings']
abalone.shape

(4176, 9)

In [16]:
#Tên từng cột
for col in abalone.columns:
    print(col)

Sex
Length
Diameter
Height
Whole
Shucked
Viscera
Shell
Rings

In [20]:
#Kiểu dữ liệu từng cột
for col in abalone.columns:
    print('{} has data type is {}'.format(col, abalone[col].dtype))

Sex has data type is object
Length has data type is float64
Diameter has data type is float64
Height has data type is float64
Whole has data type is float64
Shucked has data type is float64
Viscera has data type is float64
Shell has data type is float64
Rings has data type is int64

Chú ý ở đây kiểu dữ liệu của cột 1 là object nhưng xem lại ở dataset ở trên nó là chữ nên nó thuộc kiểu norminal

In [18]:
# Đối với normial ta cần tính số giá trị riêng biệt
abalone.Sex.nunique()

3

In [32]:
# Đối với các giá trị numeric tính trung bình
for col in abalone.iloc[:,1::]:
    mean = abalone[col].mean()
    print('{} has the mean is {}'.format(col, mean))

Length has the mean is 0.5240086206896557
Diameter has the mean is 0.40789152298850717
Height has the mean is 0.13952705938697216
Whole has the mean is 0.8288175287356346
Shucked has the mean is 0.3593997844827576
Viscera has the mean is 0.18061266762452136
Shell has the mean is 0.23885213122605353
Rings has the mean is 9.932471264367816

In [28]:
# Đếm số giá trị duy nhất của Sex
abalone.Sex.value_counts()

M    1527
I    1342
F    1307
Name: Sex, dtype: int64

Không có giá trị nào là giá trị duy nhất

In [31]:
# tính phương sai đối với các thuộc tính numeric
for col in abalone.iloc[:,1::]:
    variance = np.var(abalone[col])
    print('{} has the variance is {}'.format(col, variance))

Length has the variance is 0.014421167550204738
Diameter has the variance is 0.009848110598638325
Height has the variance is 0.0017490280034217418
Whole has the variance is 0.24045766162760918
Shucked has the variance is 0.04926319403970448
Viscera has the variance is 0.012013766460699847
Shell has the variance is 0.01937549316116675
Rings has the variance is 10.389118030783353

In [156]:
# Kiểm tra các thuộc tính có mâux bị thiếu hay không
abalone.replace(' ?', np.nan).isna().sum()

Sex         0
Length      0
Diameter    0
Height      0
Whole       0
Shucked     0
Viscera     0
Shell       0
Rings       0
dtype: int64

## Tương tự đối với Adult Data Set

In [55]:
adult_data = pd.read_csv('adult.data')
adult_test = pd.read_csv('adult.test')
adult_test.shape, adult_data.shape

((16281, 1), (32560, 15))

In [58]:
adult_columns = ['age',
                 'workclass',
                 'fnlwgt',
                 'education',
                 'education-num',
                 'marital-status',
                 'occupation',
                 'relationship',
                 'race','sex',
                 'capital-gain',
                 'capital-loss',
                 'hours-per-week',
                 'native-country',
                 '>50K, <=50K']

In [59]:
adult_data.columns = adult_columns
adult_data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,">50K, <=50K"
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [70]:
# Vấn đề nằm ở adult.test gom tất cả features thành 1 
adult_test.head()

                                                                                                                                |1x3 Cross validator
25  Private   226802  11th         7   Never-married       Machine-op-inspct  Own-child  Black  Male   0    0 40  United-States               <=50K.
38  Private   89814   HS-grad      9   Married-civ-spouse  Farming-fishing    Husband    White  Male   0    0 50  United-States               <=50K.
28  Local-gov 336951  Assoc-acdm   12  Married-civ-spouse  Protective-serv    Husband    White  Male   0    0 40  United-States                >50K.
44  Private   160323  Some-college 10  Married-civ-spouse  Machine-op-inspct  Husband    Black  Male   7688 0 40  United-States                >50K.
18  ?         103497  Some-college 10  Never-married       ?                  Own-child  White  Female 0    0 30  United-States               <=50K.

In [71]:
for col in adult_data.columns:
    print(col)

age
workclass
fnlwgt
education
education-num
marital-status
occupation
relationship
race
sex
capital-gain
capital-loss
hours-per-week
native-country
>50K, <=50K

In [72]:
for col in adult_data.columns:
    print(adult_data[col].dtypes)

int64
object
int64
object
int64
object
object
object
object
object
int64
int64
int64
object
object

In [76]:
#Tìm trung bình đối với numeric và số giá trị phân biệt đối với norminal
for col in adult_data.columns:
    if adult_data[col].dtypes == 'int64':
        print(adult_data[col].mean())
    else:
        print(adult_data[col].nunique())

38.581633906633904
9
189781.81437346438
16
10.08058968058968
7
15
6
5
2
1077.615171990172
87.30651105651106
40.437469287469284
42
2

In [143]:
for col in adult_data.columns:
    if adult_data[col].dtypes == 'int64':
        print(np.var(adult_data[col]))
    else:
        print(sum(adult_data[col].value_counts()==1))

186.06139487334764
0
11140410714.876406
0
6.618628153505593
0
0
0
0
0
54542502.26126418
162376.7037168468
152.45898917291464
1
0

In [151]:
#vì trong tập test có vài chố thiếu dữ liệu, biểu diễn bằng '?' nên để chắc chắn ta replace tất cả '?' thành NaN, nếu có thì replace còn nếu không thì đéo sao hết
adult_data.replace(' ?', np.nan).isna().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education-num        0
marital-status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital-gain         0
capital-loss         0
hours-per-week       0
native-country     583
>50K, <=50K          0
dtype: int64

## Credit Approval Data Set

In [116]:
credit = pd.read_csv('crx.data')
credit.columns = ['A1','A2','A3','A4','A5','A6','A7','A8','A9','A10','A11','A12','A13','A14','A15','A16']
credit.shape

(689, 16)

In [117]:
credit.head()

  A1     A2     A3 A4 A5 A6 A7    A8 A9 A10  A11 A12 A13    A14  A15 A16
0  a  58.67  4.460  u  g  q  h  3.04  t   t    6   f   g  00043  560   +
1  a  24.50  0.500  u  g  q  h  1.50  t   f    0   f   g  00280  824   +
2  b  27.83  1.540  u  g  w  v  3.75  t   t    5   t   g  00100    3   +
3  b  20.17  5.625  u  g  w  v  1.71  t   f    0   f   s  00120    0   +
4  b  32.08  4.000  u  g  m  v  2.50  t   f    0   t   g  00360    0   +

In [118]:
for col in credit:
    print(col)

A1
A2
A3
A4
A5
A6
A7
A8
A9
A10
A11
A12
A13
A14
A15
A16

In [124]:
for col in credit:
    if credit[col].dtypes == 'object':
        print('norminal')
    else:
        print('numeric')

norminal
norminal
numeric
norminal
norminal
norminal
norminal
numeric
norminal
norminal
numeric
norminal
norminal
norminal
numeric
norminal

In [128]:
for col in credit:
    if credit[col].dtypes == 'object':
        print(credit[col].nunique())
    else:
        print(credit[col].mean())

3
349
4.765631349782292
4
4
15
10
2.2248185776487643
2
2
2.402031930333817
2
3
170
1018.8621190130624
2

In [163]:
for col in credit:
    if credit[col].dtypes == 'object':
        print(sum(credit[col].value_counts()==1))
    else:
        print(np.var(credit[col]))

0
169
24.74919448528717
0
0
0
0
11.1977744591034
0
0
23.645336945279038
0
0
103
27143664.62104685
0

In [166]:
credit.replace('?', np.nan).isna().sum()

A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64